{% extends 'base.html' %}
{% load static %}


{% block title %}
<title>Log into Atmosberry</title>
{% endblock title %}
  

  
{% block content %}
    <section class="bg-white border-b py-8">
      <div class="container max-w-5xl mx-auto m-8">
        <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">
          Log In
        </h1>
        <div class="w-full mb-4">
          <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
        </div>
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">

        <form method="post">
        {% csrf_token %}
            <div class="mb-4">
              <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
                Username
              </label>
              <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" name="login" maxlength="150" id="id_login" type="text" placeholder="Username">
            </div>
            <div class="mb-6">
              <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
                Password
              </label>
              <input class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3" name="password" id="id_password" type="password" placeholder="******************">
              <p class="text-red text-xs italic">Please choose a password.</p>
            </div>
            <div class="flex items-center justify-between">
              <button class="bg-blue hover:bg-blue-dark text-black font-bold py-2 px-4 rounded" type="submit">
                Sign In
              </button>
            </div>
        </form>
        </div>
      </div>
    </section>
{% endblock content %}

{% block footer %}
{% endblock footer %}
